
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/assets2/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/assets2/css/style.css">
</head>
<body>

    <div class="main">

        <h1>Sign in</h1>
        <div class="container">
            <div class="sign-up-content">
                <form method="post" class="signup-form" action="LSuccess">
                    <h2 class="form-title">Login Now</h2>
                    <div class="form-textbox">
                        <label for="name">Full name</label>
                        <input type="text" name="FName" id="name" />
                    </div>

                    <div class="form-textbox">
                        <label for="email">Email</label>
                        <input type="email" name="Uname" id="email" />
                    </div>

                    <div class="form-textbox">
                        <label for="pass">Password</label>
                        <input type="password" name="Password" id="pass" />
                    </div>
                    <div class="form-textbox">
                        <input type="submit" name="submit" id="submit" class="submit" value="Login" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- JS -->
    <script src="~/assets2/vendor/jquery/jquery.min.js"></script>
    <script src="~/assets2/js/main.js"></script>
</body>
</html>
